<h1>{{title}}</h1>
<div>
<label>Titre :</label>
<input type="text" [(ngModel)]="titreRecherche">
</div>
<br>
<button [ngClass]="{'bouton' : true}" (click)="rechercher()"> Recherche </button>

<ul>

	<li *ngFor="let item of listeRecherche" >
		<b>{{item.Title}}</b> : <img src="{{item.Poster}}" height="250" width="250">
		<B>Année : </B>{{item.Year}}
	</li>
</ul>